.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table{
  width: 90%;
  border: 0;
  border-collapse: collapse;
  border-radius: 5px;
  box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.25);
}

.headerRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.th{
  width: 30%;
  text-align: center;
  padding: 5px;
  background-color: #e3e7ec;
  color: #373867;
}

.rows{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.td{
  width: 25%;
  max-width: 250px;
  text-align: center;
  word-break: break-word;
  padding: 10px;
  text-decoration: none;
  color: inherit
}

.linkReset{
  text-decoration: none;
  color: inherit;
}

.rows:nth-child(odd) {background-color: white;}

.rows:nth-child(even) {background-color: #AACE9B33;}

.rows:hover {background-color: #aace9bb7;}