h3 {
  margin: 0 20px 0 0;
  color: #ffffff;
}

h4 {
  margin: 0 20px 0 0;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.topContainer {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #000;
  width: 900px;
  max-height: 100px;
  margin-bottom: 5px;
}

.headerRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 905px;
}

.th{
  width: 25%;
  text-align: center;
  padding: 5px;
  color: #e3e7ec;
  background-color: #373867;
}

.rows{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.td{
  width: 25%;
  text-align: center;
  padding: 10px;
}

.form {
  flex: 1 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 2px solid #000;
  border-radius: 5px;
  width: 900px;
  flex-wrap: wrap;
}

.form input {
  height: 30px;
  max-height: 50px;
  width: 30px;
  max-width: 50px;
  margin: 10px 0;
  border: 1px solid #000;
  text-align: center;  

}

.div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #373867;
  border-radius: 5px;
  justify-content: space-between;
  width: fit-content;
  height: 50;
}

label {
  text-align: center;
}

.btn {
  display: inline-block;
  background: #ea3354;
  color: #000;
  border: none;
  padding: 10px 20px;
  margin: 15px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btnBlock {
  display: block;
  width: 98%;
}

.data {
  margin: 10px;
}

.LinkReset {
  text-decoration: none;
}

.rows:nth-child(odd) {background-color: white;}

.rows:nth-child(even) {background-color: #AACE9B33;}

.rows:hover {background-color: #aace9bb7;}
