.container {
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.topContainer {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #aaa;
  min-width: 75%;
  max-height: 100px;
  margin-bottom: 5px;
}

.table {
  width: 75%;
  border: 0;
  border-collapse: collapse;
  border-radius: 5px;
  box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.25);
}

.totalText {
  align-self: flex-end;
  margin-right: 10rem;
}

.weekText {
  text-decoration: underline;
  font-weight: bolder;
}

.modalText {
  text-align: center;
}

.label {
display: block;
font-weight: bolder;
color: #373867;
margin: 20px;
}

.headerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
}

.th {
  width: 25%;
  text-align: center;
  padding: 5px;
  color: #e3e7ec;
  background-color: #373867;
}

.rows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.td {
  width: 25%;
  max-width: 180px;
  text-align: center;
  word-break: break-word;
  margin: 10px;
  font-weight: bolder;
}

.timesheetTd {
  width: 25%;
  max-width: 180px;
  text-align: center;
  word-break: break-word;
  margin: 10px;
  border: 1px solid #aaa;
  box-shadow: 0 1.5px 0.75px 0.75px rgba(0, 0, 0, 0.25);
}

.LinkReset {
  text-decoration: none;
}

.rows:nth-child(odd) {background-color: white;}

.rows:nth-child(even) {background-color: #AACE9B33;}

.timesheetTd:hover {background-color: #aace9bb7;}
