.container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 2%;
  height: 100px;
  background-color: #373867;
}

.container a {
  text-decoration: none;
  color: #AACE9B;
}

.container a:hover{
  color: #95b587;
}
.container h1 {
  font-size: 1.75rem;
  font-weight: bold;
}

.logo {
  height: 70px;
}

.menu {
  position: relative;
  left: 35px;
  margin: 15px;
  width: 40px;
  cursor: pointer;
}
