.modal {
  display: flex;
  position: fixed;
  z-index: 5;
  max-width: 300px;
  width: 100%;
  height: 200px;
  border: 1px solid #373867;
  border-radius: 4px;
  background-color: #FFFFFF;
  overflow: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #373867;
}

.close {
  font-size: 28px;
  font-weight: bold;
  color: #000;
}

.modal-header h3 {
  border: none;
  font-size:  30px;
  color: #000000;

}

.modal p {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}