.rows{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

td{
  width: 20%;
  text-align: center;
  padding: 10px;
}

tr:nth-child(even) {background-color: #e3e7ec;}

.button{
  border-radius: 3px;
}

.buttonDelete{
  border-radius: 3px;
}

.button:hover{
  background-color: #d8dde4;
}

.buttonDelete:hover{
  background-color: #EA3354;
}