.rows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rows td {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.rows td:first-child {
    font-size: 13px;
}
