table{
    border: 2px solid black;
}

th{
    background-color: gray;
}

td{
    margin: 0;
    background-color: lightgray;
}

button{
    color: red;
    font-weight: bolder;
    background-color: white;
}
