.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.linkReset {
  text-decoration: none;
}

.container h2 {
  color: #373867;
  font-size: 40px;
  font-weight: 700;
}

.modalText {
  color: #373867;
  font-size: 24px;
  font-weight: 500;
}