.container {
  display: flex;
  justify-content: space-around;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

.container a {
  text-decoration: none;
}

.container a:any-link {
  color: #373867;
}

.container h2 {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  color: #373867;
  font-size: 40px;
  font-weight: 700;
}

.container h3 {
  margin-top: 0;
  margin-left: 30px;
  margin-right: 30px;
  color: #373867;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

.employeeDetailsContainer table {
  width: 200%;
}

.container h2 span {
  cursor: pointer;
}

.employeeList {
  margin: 30px;
  width: 60%;
}

.employeeList th {
  padding: 5px;
  width: 100%;
  background-color: #e3e7ec;
  color: #373867;
  text-align: center;
}

.modalText {
  color: #373867;
  font-size: 24px;
  font-weight: 500;
}

.inputError {
  border-color: #FF0303;
}

.error{
  margin: 0px;
  max-width: fit-content;
  color: #FF0303;
}