.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h2 {
  color: #373867 ;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 40px auto;
  border-radius: 10px;
  width: 80%;
  max-width: 768px;
}

.form input {
  background: #84a1781a;
}

.btnsContainer {
  text-align: center;
  grid-column:1/3;
}
