.selectContainer{
    display:flex;
    flex-direction: column;
}

.labelSelect{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.selectBox{
    border-radius: 4px;
    height: 38px;
    width: 260px;
}

.error{
  font-size: 11px;
  color: #FF0303;
}

.selectBoxError{
  border-color: #FF0303;
}