.aside {
  display: none;
  position: fixed;
  top: 126px;
  left: 0;
  padding: 26px 32px;
  width: max-content;
  height: 100%;
  background-color: #7A9F6B;
}

.aside p {
  display: inline-block;
  position: relative;
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
  color: #373867;
}

.aside p:after {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  height: 3px;
  width: 120%;
  background-color: #373867;
}

.aside a {
  font-size: 20px;
  color: #373867;
  text-decoration: none;
}

.navList {
  padding: 0;
  list-style-type: none;
}

.navList li {
  margin-bottom: 23px;
  padding: 10px 10px 3px;
  border-bottom: 3px solid #373867;
  border-radius: 2px;
  background-color: #ffffff;
  transition: 100ms;
}

.navList li:hover {
  background-color: #eaeaea;
}

.navList li:active {
  /* outline: 3px solid #373867; */
  box-shadow: none;
}

@media only screen and (min-width: 768px) {
  .aside {
    position: sticky;
    top: 0px;
    height: initial;
  }
}

@media only screen and (min-width: 1024px) {
  .aside {
    display: block;
  }
}