.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  min-height: 100px;
  background-color: #373867;
}

.appName {
  font-size: 1.75rem;
  font-weight: bold;
}

.appName > h1 > a {
  text-decoration: none;
  color: #AACE9B;
}

.rutes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
}

.rutes > li > a {
  margin-left: 15px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  color: #AACE9B;
}

@media screen and (min-width: 750px) {
  .container {
    padding: 0 20%;
  }

  .navbar {
    padding: 0 20%;
  }
}