.btnsContainer {
  text-align: right;
}

.btn {
  display: inline-block;
  margin: 15px;
  padding: 8px 0px;
  border: none;
  border-radius: 5px;
  background: #AACE9B;
  color: #373867;
  font-size: 15px;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
}

.redBtn {
  background-color: #F33413;
  color: white
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.btnBlock {
  display: block;
  width: 98%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 40px auto;
  border: 3px solid #373867;
  border-radius: 10px;
  background-color: #aace9b1a;
  width: 80%;
  max-width: 768px;
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.5);
}

.readOnly{
  color: #37386766;
}

.inputContainer {
  margin: 20px;
}

.inputContainer label {
  display: block;
  font-weight: bolder;
  color: #373867;
}

.inputContainer input {
  width: 98%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  border: 2px solid #373867;
  background-color: white;
  font-size: 17px;
  color: #373867;
}

.inputContainer input[type="number"]{
  -moz-appearance: textfield;
}

.inputContainer input:focus {
  border-color: #373867;
}

.inputContainer select {
  width: 100%;
  height: 35px;
  margin: 5px;
  padding: 3px 7px;
  border: 2px solid #373867;
  background-color: white;
  font-size: 17px;
  color: #373867;
}

.inputContainer select:focus {
  border-color: #373867;
}

.check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  width: max-content;
}

.check label {
  flex: 1;
  color: #373867;
  font-weight: bolder;
  cursor: pointer;
}

.check input {
  flex: 2;
  height: 15px;
  width: 15px;
  cursor: pointer;
}