.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #EFEFEF;
    margin-bottom: 5px;
    width: 100%;
    background-color: black;
}

.table {
    width: 100%;
    background-color: black;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightgrey;
}

.container th {
    width: 20%;
    padding: 3px 40px;
    font-size: 16px;
}

.header th:first-child {
    width: 175px;
    padding: 3px 50px;
}

.header th:nth-child(4) {
    padding: 3px 60px;
}