.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #373867;
}

.license {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 90%;
  margin: 1rem;
  background-color: #373867;
}

.copyright {
  font-size: 0.7rem;
  font-style: italic;
  color: #AACE9B;
}

.iconGit{
  width: 24px;
  border-radius: 60%;
  margin-left: 5px;
}

.iconGit:hover{
  background-color: #516449;
}

.iconLink{
  width: 24px;
  border-radius: 60%;
  margin-left: 7px;
}

.iconLink:hover{
  background-color: #516449;
}

.socialIcon {
  border-radius: 50%;
  background-color: #AACE9B;
  color: #373867;
}

.socialIcon:hover{
  background-color: #95b587;
}

@media screen and (min-width: 750px) {
  .main {
    padding: 0 20%;
    width: unset;
  }

  .license {
    padding: 0 20px;
    width: calc(60% - 40px);
  }

  .socialIcon {
    margin: 0 5px;
  }
}
