.inputContainer{
  display: flex;
  flex-direction: column;
}

.labelInput{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.inputBox{
  border-radius: 4px;
  height: 38px;
  width: 260px;
}
