h2 {
  color: rgba(255, 255, 255, 1);
  font-size: 72px;
}

body   {
  background-image: url(assets/home-img.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}