.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #37386766;
}

h2 {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.linkReset {
  text-decoration: none;
}

.create {
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 80px 0px;
  border-radius: 61px;
  width: 80%;
  max-width: 768px;
  background-image: url(assets/images/register-background.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 20%;
  background-color: #7A9F6B;
}

.inputsContainer h3 {
  margin-left: 135px;
  font-weight: bolder;
  font-size: 30px;
  text-decoration: underline;
  color: #373867;
}

.inputsContainer {
  margin: 80px 10% 15px;
  padding: 20px;
  border: 1px solid #373867;
  max-width: 568px;
  border-radius: 23px;
  background-color: rgba(255, 255, 255, 0.7);
}

.buttonContainer{
  margin: 0 5% 45px;
  padding: 20px;
  text-align: center;
}